service cloud.firestore {
  match /databases/{database}/documents {
    // Make sure the uid of the requesting user matches name of the user
    // document. The wildcard expression {userId} makes the userId variable
    // available in rules.
    allow read;

    match /config/{configId} {
      allow read;
    }

    match /feedback/{feedbackId} {
      allow read;
      allow write: if request.auth.uid != null;
    }

    match /images/{folder} {
      allow read;
    }

    match /leagueSchedule/{leagueId} {
      allow read;
      allow write: if request.auth.uid != null;
    }

    match /matches/{matchId} {
      allow read;
    }

    match /news/{newsId} {
    	allow read;
    	allow write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isWriter == true;
    }

    match /pickemLeagueUsers/{leagueId} {
    	allow read;
    	allow write: if request.auth.uid != null;
    }

    match /pickemLeagues/{leagueId} {
    	allow read;
    	allow write: if request.auth.uid != null;
    }

    match /playerStats/{playerId} {
      allow read;
    }

    match /players/{playerId} {
      allow read;
    }

    match /standardLeagueRoster/{leagueId} {
    	allow read;
    	allow write: if request.auth.uid != null;
    }

    match /standardLeagueTrades/{leagueId} {
      allow read;
      allow write: if request.auth.uid != null;
    }

    match /standardLeagueUsers/{leagueId} {
    	allow read;
    	allow write: if request.auth.uid != null;
    }

    match /standardLeagues/{leagueId} {
    	allow read;
    	allow write: if request.auth.uid != null;
    }

    match /teams/{teamId} {
      allow read;
    }

    match /unlimitedLeagueRoster/{leagueId} {
    	allow read;
    	allow write: if request.auth.uid != null;
    }

    match /unlimitedLeagueUsers/{leagueId} {
    	allow read;
    	allow write: if request.auth.uid != null;
    }

    match /unlimitedLeagues/{leagueId} {
    	allow read;
    	allow write: if request.auth.uid != null;
    }

    match /userLeagues/{userId} {
    	allow read, write: if request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
    }
  }
}